<div class="container vertical-center">

  <div class="search-input-container">
    <p class="search-tittle">{{CMC.charName}} Comics List</p>
    <div class="progress" ng-if="!CMC.comList">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
        loading...
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="com in CMC.comList" ng-click="CMC.showCom(com)" >{{com.title}} - {{com.onsaleDate}}
        <div class="jumbotron row" ng-if="com.more">
          <div class="col-md-10">
            <dl class="dl-horizontal list-group">
              <dt>Title:</dt>
              <dd>{{com.title}}</dd>
              <dt>Published:</dt>
              <dd>{{com.onsaleDate}}</dd>
              <dt>Description:</dt>
              <dd>{{com.description}}</dd>
              <dt>Id:</dt>
              <dd>{{com.id}}</dd>
              <dt>Link:</dt>
              <dd><a href="#" class="card-link">Oficial Page</a></dd>
            </dl>
          </div>
          <div class="col-md-2 align-self-center">
            <img class="card-img-top" src="{{com.thumbnail}}" alt="Card image cap" style="width:150px;height:225px;">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
